<h1>Image Search Abstraction Layer</h1>

<h2>Description:</h2>
<p>A simple API service that can perform a search for images that are related to a given search phrase. Results are given in JSON format.</p>
<p>As an added bonus, you may view search history</p>

<h2>Example usage:</h2>
<p style="color:red">https://obscure-basin-66633.herokuapp.com/search/donkey</p>

<h2>Will Return:</h2>
<pre style="color:red">
{
url: "https://upload.wikimedia.org/wikipedia/commons/8/80/Equus_asinus_Kadzid%C5%82owo_001.jpg",
snippet: "Donkey - Wikipedia",
thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoaVedG-kbvNFeIvED9lCImB6tgtXcNsd7XSn4IizkpiOIfeWp3mrYK9bF",
context: "https://en.wikipedia.org/wiki/Donkey"
},</pre>

<h2>History URL:</h2>
<p style="color:red">https://obscure-basin-66633.herokuapp.com/history</p>