<h1>Image Search Abstraction Layer</h1>

<h2>Description:</h2>
<p>A simple API service that can perform a search for images that are related to a given search phrase. Results are given in JSON format.</p>